.card {
  font-size: 1em;
  max-width: 15em;
  max-height: 25em;
  padding: 0.5em;
  border: gray;
  border-width: 0.5px ;
  border-style: solid;
  border-radius: 0.5em;
}

.card img {
  width: 100%;
  height: 240px;
  border-radius: 0.5em 0.5em 0 0;
  position: relative;
}

.picture {
  width: 100%;
}

.indicator-buble{
  position: absolute;
  text-align: center;
  margin:0.5em 11.5em ;
  line-height: 3em;
  width: 3em;
  height: 3em;
  border-radius: 2em;
  background-color: red;
  z-index: 999;
}

.content {
  font-size: 11px;
}

p {
  font-size: 1.5em;
}

.card h1 {
  font-size: 2.5em;
}

.card .content p {

}

.card hr {
  margin: 0.5em 0 0.5em 0;
}

.flex-parent{
  display: flex;
  justify-content : space-between;
  flex-wrap: wrap;
}

.flex-parent .btn {
}
